.avatar {
    height: 125px;
    width: 125px;
    border-radius: 100%;
    align-items: center;
    margin-top: 10px;
}

.avatar-box {
    text-align: center;
}

.decorated-link {
    text-decoration: none;
}

.centered-text {
    text-align: center;
}